.lesson-card-container {
  width: 70%;
  height: 300px;
  transition: 0.5s;
  padding: 10px;
  border: 1px solid #2c3e50;
}
.lesson-img {
  width: 100%;
  height: 150px;
  background-image: url("https://1.bp.blogspot.com/-AB6ElQeJelk/WZvzyQEGiPI/AAAAAAAAADQ/WkCOYwVA8fIM8UUu2igJ1z2OQyYCX7vTACEwYBhgL/s320/kenhlaptrinh-logo-java-swing-300x150.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.content {
  border-top: 1px solid black;
}
.lesson-card-container:hover {
  box-shadow: 4px 4px 2px grey;
  transition: 0.5s;
  cursor: pointer;
}
