<nb-layout>
  <nb-layout-header fixed>
    <nb-icon icon="menu-outline" (click)="toggle()"></nb-icon>
    <div style="width: 80%">

    </div>
    <nb-card>
      <nb-card-body>
        <nb-user size="medium"
                 name="Anh Khoa"
                 title="Engineer"
                 [showTitle]="false">
        </nb-user>
      </nb-card-body>
    </nb-card>
  </nb-layout-header>
  <nb-sidebar tag="left">
    <div style="width: 100%; display: flex; justify-content: center; flex-direction: column">
      <img src="./assets/img/Logo_nav.png" alt="" style="width: 200px; height: 200px">
    </div>
    <nb-menu [items]="items" style="margin-top: 10px">
    </nb-menu>
  </nb-sidebar>
  <nb-layout-column class="colored-column-warning">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
