<nb-reveal-card>
  <nb-card-front>
    <nb-card accent="success">
      <nb-card-header> {{answer.groupName}} </nb-card-header>
      <nb-card-body>
        <div style="height: 100px">
          {{answer.content}}
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card accent="primary">
      <nb-card-header>Trả lời vào lúc</nb-card-header>
      <nb-card-body>
        <div style="height: 100px">
          <p>Giờ: {{answer.createAt}}</p>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
