<div class="side-nav">
  <div class="user-information-container">
    <img src="https://znews-photo.zadn.vn/w660/Uploaded/mdf_drkydd/2019_08_10/0.jpg" alt="avatar" class="avatar">
    <div class="information-content">
      <p>{{information.firstName}} {{information.lastName}}</p>
    </div>
  </div>

  <div class="route-group">
    <a routerLink="/work/dashboard" class="m-0 route-item">Dashboard
      <div class="chose-hover"></div>
    </a>
    <a routerLink="/work/workspace" class="m-0 route-item">Workspace
      <div class="chose-hover"></div>
    </a>
    <a routerLink="/work/schedule" class="m-0 route-item">Schedule
      <div class="chose-hover"></div>
    </a>
    <a routerLink="/work/classes" class="m-0 route-item">abc
      <div class="chose-hover"></div>
    </a>
  </div>
</div>
