.form-container {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 25vh;
}
.form-name {
  color: #204051;
  font-size: 36px;
  font-weight: 500;
}
.form-submit-btn {
  width: 30%;
}
.more-information {
  display: flex;
  justify-content: space-between;
}
