<div class="form-container">
  <p class="form-name"> Sign In </p>
  <div class="form-content">
    <form class="main-form" [formGroup]="rfauthInfo" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="username-input">Username: </label>
        <input type="text"
               class="form-control"
               placeholder=" Input your username "
               name="username"
               formControlName="username"
               id="username-input">
      </div>
      <div class="form-group mb-3">
        <label for="password-input">Password: </label>
        <input type="password"
               class="form-control"
               placeholder=" Type password "
               name="username"
               formControlName="password"
               id="password-input">
      </div>
      <div class="more-information mt-3">
        <a href="#"> Forgot password?</a>
        <a href="#"> More information here!</a>
      </div>
      <div class="form-group mt-2">
        <button type="submit"
                class="btn btn-outline-primary form-submit-btn">Sign In</button>
      </div>
    </form>
  </div>
</div>
