<div class="row">
  <div class="col-8 p-0" >
    <nb-accordion multi >
      <nb-accordion-item *ngFor="let chapter of listChapter$ | async">
        <nb-accordion-item-header>
          {{chapter.no}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-card>
            <nb-card-header>{{chapter.name}}</nb-card-header>
            <nb-card-body>
              <div>
                {{chapter.code}}
              </div>
              <div>
                {{chapter.theory}}
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button class="btn btn-primary" (click)="btnClick(chapter.id)">Issue</button>
            </nb-card-footer>
          </nb-card>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
  <div class="col-4" style="overflow-y: auto;" *ngIf="qaa">
    <div *ngFor="let item of qaa">
      <app-issue-card [qaa]="item"></app-issue-card>
    </div>
  </div>
</div>
